html{
    width: 100%;
    background-color: #302e60;
    overflow-x: hidden;
    overflow-y: hidden;
}


.first_page{
    width: 100%;
    height: 100vh;
    background-color: #302e60;
    background-size: cover;
    -webkit-background-size: cover;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
}

/* header */

.qwe{
    background: #2E2C58;
}

.wrapper{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header_logo{

}

.instruction{
    padding-top: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-style: normal;
}

.nav_link{
    text-decoration: none;
    color: #ebe0e1;
}

.rectangle{
    color: #ebe0e1;
    background: #302e60;
    margin-top: 25px;
    width: 120px;
    height: 40px;
    background:
            linear-gradient(#302e60, #302e60) padding-box,
            linear-gradient(to right, #FF527F, #FD9590) border-box;
    border-radius: 100px;
    border: 2px solid transparent;
}

.container{
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 865px;
    margin: 0 auto;
}

.inner_container{
    position: absolute;
    top: 100px;
    left: 18%;
    height: 427px;
    width: 100%;
    max-width: 505px;
}

.title{
    margin: 0;
    width: 116px;
    height: 52px;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 52px;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #FF527F 0%, #FD9590 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo_container{
    padding-top: 22px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 165px;
}

.text_container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    padding-top: 32px;
    width: 505px;
    height: 274px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

p{
    margin: 0;
}

.rectangle1{
    position: absolute;
    top: 100px;
    right: 18%;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.25);
    width: 120px;
    height: 120px;
}

.inner_container1{
    position: absolute;
    top: 165px;
    right: 36%;
    height: 205px;
    width: 100%;
    max-width: 345px;
}

.inner_container2{
    padding-left: 125px;
    width: 200px;
    display: flex;
    flex-direction: row;
}

.inner_text{
    padding-top: 8px;
    margin: 0 auto;
    width: 264px;
    height: 40px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.border{
    width: 300px;
    height: 60px;
    border: 2px solid #FF7676;
    box-sizing: border-box;
    border-radius: 29px;
}

.rectangle2{
    margin-top: 27px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.25);
}

.arrow1{
    width: 97px;
    height: 97px;
}

.border1{
    margin-top: 30px;
    width: 300px;
    height: 60px;
    border: 2px solid #FF7676;
    box-sizing: border-box;
    border-radius: 29px;
    grid-area: 1 / 1 / 2 / 2;
}

.inner_container3{
    position: absolute;
    bottom: 10%;
    left: 30%;
    width: 100%;
    max-width: 615px;
    height: 200px;
    display: grid;
    grid-template-columns: 300px 70px 120px;
    grid-template-rows: 120px 80px;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.inner_text1{
    padding-top: 8px;
    margin: 0 auto;
    width: 260px;
    height: 40px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.arrow2{
    width: 125px;
    height: 125px;
    grid-area: 1 / 2 / 1 / 1;
    margin-left: 250px;
    margin-top: 45px;
}

.rectangle3{
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.25);
    grid-area: 1 / 3 / 2 / 4;
}

.circle{
    width: 637px;
    height: 637px;
    position: absolute;
    right: 0;
    top: 250px;
}
